[package]
name = "positron-backend"
version = "0.1.0"
edition = "2021"

[dependencies]
centaurus = { version = "0.4.9", features = [
  "axum",
  "logging",
  "argon2",
  "base64",
  "chrono",
  "hmac",
  "jsonwebtoken",
  "rsa",
  "sea-orm",
  "uuid",
  "reqwest",
  "lettre",
  "webauthn",
  "image",
  "auth",
] }
openssl = { version = "0.10.75", features = ["vendored"] }
argon2 = { version = "0.5.3", default-features = false, features = ["std"] }
base64 = "0.22.1"
chrono = { version = "0.4.43", default-features = false, features = [
  "serde",
  "std",
] }
dotenv = "0.15.0"
image = { version = "0.25.9", default-features = false, features = [
  "webp",
  "png",
  "jpeg",
] }
jsonwebtoken = { version = "10.3.0", features = ["rust_crypto"] }
lettre = { version = "0.11.18", default-features = false, features = [
  "smtp-transport",
  "rustls",
  "builder",
  "rustls-native-certs",
  "ring",
] }
rand = { version = "0.9.2", default-features = false, features = [
  "std",
  "os_rng",
] }
rsa = "0.9.10"
sea-orm = { version = "1.1.19", features = [
  "sqlx-postgres",
  "runtime-tokio-rustls",
] }
serde = { version = "1.0.228", features = ["derive"] }
serde_urlencoded = "0.7.1"
thiserror = "2.0.18"
totp-rs = { version = "5.7.0", features = ["qr", "gen_secret", "otpauth"] }
uuid = "1.20.0"
webauthn-rs = { version = "0.5.4", features = ["conditional-ui"] }
webauthn-rs-proto = "0.5.0"
entity = { path = "entity" }
migration = { path = "migration" }
rust-s3 = { version = "0.37.1", default-features = false, features = [
  "fail-on-err",
  "tags",
  "tokio-rustls-tls",
] }
reqwest = { version = "0.12.23", features = [
  "json",
  "rustls-tls",
  "charset",
  "http2",
  "system-proxy",
], default-features = false }
async-nats = "0.46.0"
serde_json = "1.0.149"
axum = { version = "0.8.8", features = ["macros", "ws", "tracing"] }
axum-extra = { version = "0.12.5", features = ["cookie", "typed-header"] }
tracing-subscriber = "0.3.19"
clap = "4.5.56"
tracing = "0.1.44"
tower = "0.5.3"
tower-http = { version = "0.6.8", features = ["cors", "trace"] }
tokio = { version = "1.49.0", features = ["signal"] }
http = "1.4.0"
time = "0.3.46"
futures = "0.3.31"
figment = { version = "0.10.19", features = ["env"] }
url = { version = "2.5.8", features = ["serde"] }
hyper-util = { version = "0.1.19", features = ["client-legacy"] }

[[bin]]
name = "backend"
path = "src/main.rs"
